<!--	item-->
<div id='outline-table' class='' style='font-size: 0; width: 100%;'>
	<div class="flx-row flx--jtf-start flx--gap-5px table-title" style='font-size: 0; width: 100%;'>
		<div class="table-cell" style='width: 300px;' >article name</div>
		<div class="table-cell" style='max-width: 500px; width: 100%;'>Content</div>
		<div class="table-cell">lịch đăng</div>
		<div class="table-cell">ngày đăng</div>
		<div class="table-cell">đã đăng</div>
	</div>
</div>
<!--	/item-->
<!--
id: result[i]._id,
	title: result[i].topic,
	platform: result[i].platform,
	startDate: formatDateString(result[i].bookDate),
	endDate: formatDateString(result[i].postDate),
	isCompleted: result[i].content != '' ? '--active' : '--inactive',
	isEnded: result[i].isPosted ? '--active' : '--inactive',
-->
