<div class="diagram-container" style='width: 100vw; overflow: auto;'>

	<div class="diagram-row flx-row flx--jtf-start flx--al-start" style='border:2px dashed red;'>
		<div class="flx-column " id='campaign-{{id}}-container' style='border:2px solid red;'>

			<!--node-->
			<div name='node' class="diagram-node flx-column flx--jtf-start">
				<!--header-->
				<div class="diagram-node__header">
					Campaign
				</div>
				<!--/header-->
				<!--body-->
				<div class="diagram-node__body">
					<div class="diagram-node__item">
						property, example name
					</div>
					<div class="diagram-node__item">
						property
					</div>
					<div class="diagram-node__item">
						property
					</div>
					<div class="diagram-node__item">
						property
					</div>
					<div class="diagram-node__item">
						property
					</div>
				</div>
				<!--/body-->
				<div class="diagram-node__footer">
					Dummy footer
				</div>
			</div>
			<!--/node-->

		</div>
		 <!-- edditing -->
		<!--outline column-->
		<div class="flx-column flx--jtf-start" id='campaign-{{id}}-children-container' style='border:2px solid blue;'>
			<!-- outline row -->
			<div class="first-row flx-row flx--al-start " id='outline-row-{{id}}' style='border-bottom:2px dashed blue;'>
				<div class="flx-column flx--jtf-start" id='outline-container-{{id}}'>
					<!--node-->
					<div name='node' class="diagram__first-node diagram-node outline-node flx-column flx--jtf-start">
						<!--header-->
						<div class="diagram-node__header">
							outline
						</div>
						<!--/header-->
						<!--body-->
						<div class="diagram-node__body">
							<div class="diagram-node__item">
								property, example name
							</div>
							<div class="diagram-node__item">
								property
							</div>
							<div class="diagram-node__item">
								property
							</div>
							<div class="diagram-node__item">
								property
							</div>
							<div class="diagram-node__item">
								property
							</div>
						</div>
						<!--/body-->
						<div class="diagram-node__footer">
							Dummy footer
						</div>
					</div>
					<!--/node-->
				</div>
				<div class="flx-column flx--jtf-start article-node-container" id='outline-{{id}}-children-container'>
					<!--node-->
					<div name='node' class="diagram__first-node diagram-node article-node flx-column flx--jtf-start">
						<!--header-->
						<div class="diagram-node__header">
							Article 1
						</div>
						<!--/header-->
						<!--body-->
						<div class="diagram-node__body">
							<div class="diagram-node__item">
								property, example name
							</div>
							<div class="diagram-node__item">
								property
							</div>
							<div class="diagram-node__item">
								property
							</div>
							<div class="diagram-node__item">
								property
							</div>
							<div class="diagram-node__item">
								property
							</div>
						</div>
						<!--/body-->
						<div class="diagram-node__footer">
							Dummy footer
						</div>
					</div>
					<!--/node-->
					<!--node-->
					<div name='node' class="diagram-node article-node flx-column flx--jtf-start">
						<!--header-->
						<div class="diagram-node__header">
							Article 2
						</div>
						<!--/header-->
						<!--body-->
						<div class="diagram-node__body">
							<div class="diagram-node__item">
								property, example name
							</div>
							<div class="diagram-node__item">
								property
							</div>
							<div class="diagram-node__item">
								property
							</div>
							<div class="diagram-node__item">
								property
							</div>
							<div class="diagram-node__item">
								property
							</div>
						</div>
						<!--/body-->
						<div class="diagram-node__footer">
							Dummy footer
						</div>
					</div>
					<!--/node-->
					<!--node-->
					<div name='node' class="diagram-node article-node flx-column flx--jtf-start">
						<!--header-->
						<div class="diagram-node__header">
							Article 2
						</div>
						<!--/header-->
						<!--body-->
						<div class="diagram-node__body">
							<div class="diagram-node__item">
								property, example name
							</div>
							<div class="diagram-node__item">
								property
							</div>
							<div class="diagram-node__item">
								property
							</div>
							<div class="diagram-node__item">
								property
							</div>
							<div class="diagram-node__item">
								property
							</div>
						</div>
						<!--/body-->
						<div class="diagram-node__footer">
							Dummy footer
						</div>
					</div>
					<!--/node-->
					<!--node-->
					<div name='node' class="diagram-node article-node flx-column flx--jtf-start">
						<!--header-->
						<div class="diagram-node__header">
							Article 2
						</div>
						<!--/header-->
						<!--body-->
						<div class="diagram-node__body">
							<div class="diagram-node__item">
								property, example name
							</div>
							<div class="diagram-node__item">
								property
							</div>
							<div class="diagram-node__item">
								property
							</div>
							<div class="diagram-node__item">
								property
							</div>
							<div class="diagram-node__item">
								property
							</div>
						</div>
						<!--/body-->
						<div class="diagram-node__footer">
							Dummy footer
						</div>
					</div>
					<!--/node-->
					<!--node-->
					<div name='node' class="diagram-node article-node flx-column flx--jtf-start">
						<!--header-->
						<div class="diagram-node__header">
							Article 2
						</div>
						<!--/header-->
						<!--body-->
						<div class="diagram-node__body">
							<div class="diagram-node__item">
								property, example name
							</div>
							<div class="diagram-node__item">
								property
							</div>
							<div class="diagram-node__item">
								property
							</div>
							<div class="diagram-node__item">
								property
							</div>
							<div class="diagram-node__item">
								property
							</div>
						</div>
						<!--/body-->
						<div class="diagram-node__footer">
							Dummy footer
						</div>
					</div>
					<!--/node-->
					<!--node-->
					<div name='node' class="diagram-node article-node flx-column flx--jtf-start">
						<!--header-->
						<div class="diagram-node__header">
							Article 2
						</div>
						<!--/header-->
						<!--body-->
						<div class="diagram-node__body">
							<div class="diagram-node__item">
								property, example name
							</div>
							<div class="diagram-node__item">
								property
							</div>
							<div class="diagram-node__item">
								property
							</div>
							<div class="diagram-node__item">
								property
							</div>
							<div class="diagram-node__item">
								property
							</div>
						</div>
						<!--/body-->
						<div class="diagram-node__footer">
							Dummy footer
						</div>
					</div>
					<!--/node-->
				</div>
			</div>
			<!--/outline row-->

			<!-- outline row -->
			<div class="outline-row  flx-row flx--al-start " id='outline-id' style='border-bottom:2px dashed blue;'>
				<div class="flx-column outline-node-container flx--jtf-start" id='outline node here'>
					<!--node-->
					<div name='node' class=" diagram-node outline-node flx-column flx--jtf-start">
						<!--header-->
						<div class="diagram-node__header">
							outline 2
						</div>
						<!--/header-->
						<!--body-->
						<div class="diagram-node__body">
							<div class="diagram-node__item">
								property, example name
							</div>
							<div class="diagram-node__item">
								property
							</div>
							<div class="diagram-node__item">
								property
							</div>
							<div class="diagram-node__item">
								property
							</div>
							<div class="diagram-node__item">
								property
							</div>
						</div>
						<!--/body-->
						<div class="diagram-node__footer">
							Dummy footer
						</div>
					</div>
					<!--/node-->
				</div>
				<div class="flx-column flx--jtf-start article-node-container" id='all article node here'>
					<!--node-->
					<div name='node' class="diagram__first-node diagram-node article-node flx-column flx--jtf-start">
						<!--header-->
						<div class="diagram-node__header">
							Article 1
						</div>
						<!--/header-->
						<!--body-->
						<div class="diagram-node__body">
							<div class="diagram-node__item">
								property, example name
							</div>
							<div class="diagram-node__item">
								property
							</div>
							<div class="diagram-node__item">
								property
							</div>
							<div class="diagram-node__item">
								property
							</div>
							<div class="diagram-node__item">
								property
							</div>
						</div>
						<!--/body-->
						<div class="diagram-node__footer">
							Dummy footer
						</div>
					</div>
					<!--/node-->
					<!--node-->
					<div name='node' class="diagram-node article-node flx-column flx--jtf-start">
						<!--header-->
						<div class="diagram-node__header">
							Article 2
						</div>
						<!--/header-->
						<!--body-->
						<div class="diagram-node__body">
							<div class="diagram-node__item">
								property, example name
							</div>
							<div class="diagram-node__item">
								property
							</div>
							<div class="diagram-node__item">
								property
							</div>
							<div class="diagram-node__item">
								property
							</div>
							<div class="diagram-node__item">
								property
							</div>
						</div>
						<!--/body-->
						<div class="diagram-node__footer">
							Dummy footer
						</div>
					</div>
					<!--/node-->
					<!--node-->
					<div name='node' class="diagram-node article-node flx-column flx--jtf-start">
						<!--header-->
						<div class="diagram-node__header">
							Article 2
						</div>
						<!--/header-->
						<!--body-->
						<div class="diagram-node__body">
							<div class="diagram-node__item">
								property, example name
							</div>
							<div class="diagram-node__item">
								property
							</div>
							<div class="diagram-node__item">
								property
							</div>
							<div class="diagram-node__item">
								property
							</div>
							<div class="diagram-node__item">
								property
							</div>
						</div>
						<!--/body-->
						<div class="diagram-node__footer">
							Dummy footer
						</div>
					</div>
					<!--/node-->
					<!--node-->
					<div name='node' class="diagram-node article-node flx-column flx--jtf-start">
						<!--header-->
						<div class="diagram-node__header">
							Article 2
						</div>
						<!--/header-->
						<!--body-->
						<div class="diagram-node__body">
							<div class="diagram-node__item">
								property, example name
							</div>
							<div class="diagram-node__item">
								property
							</div>
							<div class="diagram-node__item">
								property
							</div>
							<div class="diagram-node__item">
								property
							</div>
							<div class="diagram-node__item">
								property
							</div>
						</div>
						<!--/body-->
						<div class="diagram-node__footer">
							Dummy footer
						</div>
					</div>
					<!--/node-->
				</div>
			</div>
			<!--/outline row-->
		</div>
		<!--/outline column-->
	</div>
</div>
