<!--	item-->
<div id='main-menu' class="form-modal" style='padding: 0;'>
	<div class='flx-column flx--jtf-start flx--al-start' style='background-color: var(--window-color); height: 100%;'>
		<div class="flx-row flx--jtf-space-between" style='width: 100% !important;'>
			<div class="form__title">
				AI tool kit
			</div>
			<div class="form__title" invoker-spell='closeGridMenu'>
				<img class="" width='35px' src="./icon/delete-fill-mono.svg" alt="">
			</div>
		</div>
		<div class="flx-row flx--gap-15px">
			<div class='flx-column flx--al-center' invoker-spell='gotoFacebookContentKit'
				style='background-color: var(--main-color);'>
				<img class="list-item__img" src="./icon/facebook-mono.svg" alt="">
				<div>content kit</div>
			</div>
			<div class='flx-column flx--al-center' invoker-spell='gotoFunnelChanel'
				style='background-color: var(--main-color);'>
				<img class="list-item__img" src="./icon/fillter-fill-mono.svg" alt="">
				<div>funnel chanel</div>
			</div>
		</div>
	</div>
</div>
