<!--	item-->
<div class='list-item flx-row flx-jtf-start'>
	<div><img class="list-item__img" src="./icon/instagram-mono.svg" alt=""></div>
	<div class='flx-column flx--gap-5px flx--jtf-center flx--al-start'>
		<div class='lis-item__header flx-row flx-jtf-start'>
			<div class='list-item__title'>{{title}}</div>
		</div>
		<div class='list-item__info flx-row flx-jtf-start'>
			<div>
				{{date}}
			</div>
			<div class='{{isMakeContent}}'>
				<img class="list-item__icon" src="./icon/texted-mono.svg" alt="">
			</div>
			<div class='{{isPosted}}'>
				<img class="list-item__icon" src="./icon/booked-mono.svg" alt="">
			</div>
		</div>
	</div>
</div>
<!--	/item-->
