<!--	item-->
<div id='outline-table' class='' style='font-size: 0; width: 100%;'>
	<div class="flx-row flx--jtf-start flx--gap-5px table-title" style='font-size: 0; width: 100%;'>
		<div class="table-cell" style='width: 300px;' >outline name</div>
		<div class="table-cell" style='width: 300px;'>topic</div>
		<div class="table-cell">bày bắt đầu</div>
		<div class="table-cell">ngày kết thúc</div>
		<div class="table-cell">đã kết thúc</div>
		<div class="table-cell">đã hoàn thành</div>
	</div>
</div>
<!--	/item-->
<!--
 id: result[i]._id,
title: result[i].name,
topic: result[i].topic,
startDate: formatDateString(result[i].startDate),
endDate: formatDateString(result[i].endDate),
isCompleted: result[i].isCompleted ? '--active' : '--inactive',
isEnded: result[i].isEnded > 0 ? '--active' : '--inactive', 
-->
